<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>



    <div class="weui_cells weui_cells_access" _v-4f0a3ae7="">
        <a class="weui_cell" href="javascript:;" _v-4f0a3ae7="">
            <div class="weui_cell_hd" _v-4f0a3ae7="">
                <img src="/static/img/me_more-setting.6e7eefd.png" alt="" style="width:20px;margin-right:5px;display:block" _v-4f0a3ae7="">
            </div>
            <div class="weui_cell_bd weui_cell_primary" _v-4f0a3ae7="">
                <p _v-4f0a3ae7="">设置</p>
            </div>
            <div class="weui_cell_ft" _v-4f0a3ae7=""></div>
        </a>
    </div>


</body>

</html>